@import '../../styles/variables';

.sourceInputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sourceItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border: 1px solid $color-lightgray;
  border-radius: 4px;
}

.sourceItem span {
  font-weight: bold;
}

.sourceItem a {
  color: $color-blue;
  text-decoration: none;
}

.removeSourceButton {
  background: none;
  border: none;
  color: $color-red;
  cursor: pointer;
  font-size: 16px;
}

.sourceForm {
  display: flex;
  gap: 8px;
}

.input {
  padding: 8px;
  border: 1px solid $color-lightgray;
  border-radius: 4px;
  flex-grow: 1;
}

.addButton {
  padding: 8px 16px;
  background-color: $color-darkgreen;
  color: $color-white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: $color-green;
  }
}
