@import '../../styles/variables';

.inputContainer {
  margin-bottom: 16px;
  position: relative;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.label .required {
  color: $color-red;
  margin-left: 4px;
  font-size: 14px;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid $color-lightgray;
  border-radius: 4px;
  font-size: 16px;
}

.input:focus {
  border-color: $color-blue;
  outline: none;
}

.hasError .input {
  border-color: $color-red;
}

.errorInput {
  border-color: $color-red;
}

.errorMessage {
  color: $color-red;
  font-size: 14px;
  margin-top: 4px;
  position: absolute;
  bottom: -18px;
  left: 0;
}
