.profileContainer {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.profileContainer h1 {
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
}
