@import '../../styles/variables';

.contactFormContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contactFormGroup {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  border: 1px solid $color-lightgray;
  border-radius: 5px;
  background-color: $color-white;

  > div {
    flex: 1;
    min-width: 200px;
    margin-bottom: 0;
  }

  .deleteButton {
    background-color: transparent;
    color: $color-red;
    padding: 9px 12px;
    align-self: flex-end;
    margin: 0;
    &:hover {
      color: $color-darkred;
    }
  }
}

.addButton {
  align-self: flex-start;
}
