//base colors
$color-white: white;
$color-black: black;
$color-red: #d8000c;
$color-darkred: #c0392b;
$color-blue: #0056b3;
$color-lightblue: #2882e2;
$color-darkblue: #093768;
$color-lightgray: #ccc;
$color-gray: #bbb;
$color-darkgray: #757474;
$color-green: #4caf50;
$color-darkgreen: #2c6a2d;
