@import '../../styles/variables';

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1rem;
  border-radius: 8px;
  color: $color-white;
  z-index: 1000;
  animation: fade-in 0.5s ease-out;
}

.notification.success {
  background-color: $color-darkgreen;
}

.notification.error {
  background-color: $color-red;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.closeButton {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}
