@import '../../styles/variables';

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 5px;
}

.pageButton {
  padding: 8px 16px;
  background-color: $color-lightgray;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.pageButton:hover {
  background-color: $color-blue;
  color: $color-white;
}

.pageButton:disabled {
  background-color: $color-gray;
  cursor: not-allowed;
}

.active {
  background-color: $color-blue;
  color: $color-white;
  cursor: not-allowed;
}

.ellipsis {
  padding: 8px;
  font-size: 18px;
  color: $color-darkgray;
}
