.selectorContainer {
  position: relative;
  width: 100%;
  padding: 0;
  //max-width: 300px;
}

.selected {
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  z-index: 10;
  padding: 0;
}

.option {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }
}

.preview {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}
