.commentItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;

  p {
    margin: 0;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;

  label {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}
