.textEditor {
  min-height: 200px; /* Задаем желаемую высоту редактора */
}

.ql-container {
  min-height: 100%; /* Контейнер редактора должен занимать всю высоту родителя */
  box-sizing: border-box;
}

.ql-editor {
  min-height: 100%; /* Редактор должен занимать всю высоту контейнера */
  padding: 10px; /* Отступы внутри редактора */
}
