@import '../../styles/variables';

.checkboxContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkboxInput {
  cursor: pointer;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid $color-lightgray;
  border-radius: 3px;
  outline: none;
  transition: background-color 0.3s, border-color 0.3s;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 2px;
    top: 0;
    width: 10px;
    height: 10px;
    border: solid $color-white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.3s;
  }

  &:checked {
    background-color: $color-green;
    border-color: $color-green;
    &::after {
      opacity: 1;
    }
  }

  &:disabled {
    background-color: $color-lightgray;
    border-color: $color-gray;
    cursor: not-allowed;
    &::after {
      border-color: $color-black;
    }
  }
}

.checkboxLabel {
  margin-left: 8px;
  cursor: pointer;
  &.disabledLabel {
    color: $color-darkgray;
    cursor: not-allowed;
    opacity: 0.6;
  }
}
